<!DOCTYPE html>
<html>
	<head>
		<title>Aaron's Blog</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/blog_home.css" />
	</head>

	<body>
		<a href="/" class="main-title">Aaron's Blog</a>
		<div class="login-area"><a href="/signup" class="login-link">Sign Up</a> |
		<a href="/login" class="login-link">Login</a>
		</div>
		
		<div class="content">
		{% for blog in blogs %}
			<div class="post">
				<div class="post-heading">
					<a class="post-title" href="/{{blog.key().id()}}">{{blog.subject}}</a>
					<div class="post-date">{{blog.created.strftime('%b %d, %Y')}}</div>
				</div>
				<div class="post-content">{{blog.content}}</div>
			</div>
			<br><br>		
		{% endfor %}
		</div>
		
		<div class="age">queried {{cache_age}} seconds ago</div>	
	</body>
</html>








